.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: @c2;
	text-transform: uppercase;
	outline: none;
	text-align: center;
	background: #fff;
	border: 2px solid @c2;
	&:hover{
		color: #fff;
		background: @c2;
	}
}
a.btn,span.btn {
	line-height: (@input-height)-4;
}
.fileinputs {
	&:hover{
		input[type="button"] {
			color: #fff;
			background: @c2;
		}
	}
}