#page-header {
	background: @c2;
	.logo {
		float: left;
		width: 23.8%;
		@media @md, @sm, @xs {
			float: none;
			width: auto;
		}
		a {
			.transition(0.2s);
			display: block;
			padding: 51px 31px 40px 27px;
			min-height: 130px;
			background: @c4;
			@media @md, @sm, @xs {
				padding: 20px 40%;
				min-height: 0;
			}
			@media @md, @sm, @xs {
				padding: 30px 30%;
			}
			img {
				display: block;
				margin: auto;
			}
		}
	}
}
#content {
	padding: 40px 0;
}
.mod_menu-main {
	float: left;
	width: 52.6%;
	min-height: 130px;
	background: url(../images/bg/02.png) no-repeat left bottom;
	@media @md {
		background: none;
		width: 70%;
		min-height: 0;
	}
	@media @sm, @xs {
		background: none;
		width: auto;
		min-height: 0;
		float: none;
	}
	ul {
		.rul;
		text-align: center;
		margin: 51px 0 20px;
		@media @md {
			text-align: left;
		}
		@media @sm {
			margin: 30px 0;
		}
		@media @xs {
			margin: 20px 0;
		}
		li {
			.rli;
			.fh;
			display: inline-block;
			margin: 0 17px;
			&.act {
				a {
					&:before{
						left: 0;
						right: 0;
					}
				}
			}
			a {
				position: relative;
				display: inline-block;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 20px;
				line-height: 1.2;
				&:hover{
					&:before{
						left: 0;
						right: 0;
					}
				}
				&:before{
					.transition(0.2s);
					content: '';
					position: absolute;
					bottom: -5px;
					left: 50%;
					right: 50%;
					height: 2px;
					background: #fff;
				}
			}
		}
	}
}
.mod_custom-calc {
	.fh;
	float: left;
	width: 23.6%;
	@media @md {
		width: 30%;
	}
	@media @sm {
		float: none;
		width: 50%;
		margin: 0 25% 20px;
	}
	@media @xs {
		float: none;
		width: auto;
		margin: 0 0 20px;
	}
	a {
		.transition(0.2s);
		display: block;
		position: relative;
		color: #000;
		text-decoration: none;
		font-size: 20px;
		min-height: 130px;
		padding: 38px 80px 20px 33px;
		background: @c4 url(../images/bg/02.png) no-repeat left bottom;
		@media @md {
			min-height: 0;
		}
		@media @sm {
			padding-top: 20px;
			min-height: 0;
		}
		&:hover{
			color: #fff;
			background: @c5;
		}
		&:before{
			content: '';
			position: absolute;
			top: 24px;
			right: -9px;
			width: 80px;
			height: 87px;
			padding: 10px 0;
			text-align: center;
			background: @c3 url('../images/icon/01.png') no-repeat center;
			background-size: 38px auto;
			@media @sm {
				top: 0;
			}
		}
		&:after{
			content: '';
			position: absolute;
			top: 111px;
			right: -10px;
			border-bottom: 10px solid transparent;
			border-left: 10px solid fade(#000,20%);
			@media @sm {
				top: 87px;
			}
		}
		.mod-title {
			color: #fff;
			font-size: 27px;
			line-height: 1.2;
			font-weight: 600;
			text-transform: uppercase;
		}
		p {
			margin: 0;
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	overflow: hidden;
	.items {
		.item {
			display: none;
			position: relative;
			&:nth-child(1) {
				display: block;
			}
			figure {
				position: relative;
				overflow: hidden;
				&:after{
					.box-shadow(inset 0 0 8px fade(#000,50%));
					content: '';
					position: absolute;
					top: 0;
					left: -10px;
					right: -10px;
					bottom: 0;
				}
				img {
					display: block;
					width: 100%!important;
					height: 100%!important;
				}
			}
			@media @lg, @md, @sm {
				.content {
					position: absolute;
					left: 0;
					right: 0;
					top: 25%;
					@media (max-width: 1400px) {
						top: 15%;
					}
					@media @md, @sm, @xs {
						top: 13%;
					}
					.inner {
						position: relative;
						&:before{
							.box-shadow(0 0 4px fade(#000,50%));
							content: '';
							position: absolute;
							right: 100%;
							top: 0;
							bottom: 0;
							width: 2px;
							background: #fff;
						}
						h2 {
							font-size: 72px;
							line-height: 1;
							color: #fff;
							margin: 0 0;
							@media @md {
								font-size: 64px;
							}
							@media @sm {
								font-size: 58px;
								margin: 0;
							}
							span {
								.transition(2s);
								display: inline-block;
								margin: 0 0 -7px;
								padding: 3px 50px 0;
								background: fade(@c5,70%);
								overflow: hidden;
								@media @sm {
									margin: 0;
								}
							}
						}
						nav {
							a {
								.fh;
								.transition(0.2s);
								display: inline-block;
								color: #fff;
								font-size: 22px;
								line-height: 1;
								font-weight: 600;
								padding: 29px 50px 25px;
								text-decoration: none;
								text-transform: uppercase;
								border-left: none;
								background: fade(@c2,80%);
								&:hover{
									background: @c3;
								}
								&:before{
									.fi;
									content: '\e809';
									float: right;
									margin: -8px 0 -10px 27px;
									font-size: 34px;
									line-height: 1;
									font-weight: normal;
								}
							}
						}
					}
				}
			}
			@media @xs {
				h2 {
					margin: 10px 0;
					font-size: 24px;
					br {
						display: none;
					}
				}
				nav {
					margin: 0 0 20px;
					a {
						.btn;
					}
				}
			}
		}
	}
	.arrows {
		position: absolute;
		z-index: 101;
		top: 50%;
		left: 0;
		right: 0;
		background: white;
		.container {
			position: relative;
		}
		.prev, .next {
			position: absolute;
			right: 100%;
			top: 0;
			color: #fff;
			margin: -115px 5px 0 0;
			font-weight: normal;
			text-shadow: 2px 2px 0 fade(#000,50%);
			font-size: 130px;
			line-height: 1;
			text-decoration: none;
			&:before{
				.fi;
				content: '\e814';
			}
		}
		.next {
			right: auto;
			left: 100%;
			margin-right: 0;
			margin-left: 5px;
			&:before{
				content: '\e815';
			}
		}
	}
}
.mod_menu-category {
	position: relative;
	z-index: 101;
	padding: 25px 0 95px;
	background: #d9d9d9 url(../images/bg/01.jpg) top;
	.homepage & {
		padding: 0 0 50px;
		@media @md, @sm, @xs {
			padding: 25px 0 95px;
		}
	}
	ul {
		.rul;
		position: relative;
		text-align: center;
		margin: 0 -10px;
		.homepage & {
			top: -75px;
			@media @md, @sm, @xs {
				top: 0;
			}
		}
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
			width: 50%;
			margin: 0 -2px;
			text-align: left;
			@media @xs {
				display: block;
				margin: 0 0 20px;
				width: auto;
			}
			&.act {
				a {
					background: @c5;
				}
			}
			a {
				.clearfix;
				.transition(0.2s);
				display: block;
				color: #fff;
				text-decoration: none;
				background: @c3;
				&:hover{
					background: @c5;
				}
				figure {
					position: relative;
					width: 27.2%;
					float: left;
					overflow: hidden;
					overflow: hidden;
					img {
						display: block;
						margin: -24% auto;
						@media @md, @sm, @xs {
							margin: auto;
						}
						.homepage & {
							margin: auto;
						}
					}
				}
				h2 {
					float: left;
					width: 72.8%;
					margin: 0;
					text-transform: uppercase;
					font-size: 46px;
					line-height: 0.9;
					font-weight: 300;
					padding: 19px 35px 10px;
					margin: 0;
					color: #fff;
					@media @sm, @xs  {
						padding: 20px 20px 20px 30px;
						font-size: 28px;
					}
					.homepage & {
						font-size: 51px;
						padding: 32px 35px 20px;
						@media @md {
							font-size: 36px;
						}
						@media @sm, @xs  {
							padding: 20px 20px 20px 30px;
							font-size: 28px;
						}
					}
					br {
						display: none;
						.homepage & {
							display: block;
							@media @sm, @xs  {
								display: none;
							}
						}
					}
					strong {
						font-weight: 500;
					}
				}
			}
		}
	}
}
.mod_menu-utilization {
	.box-shadow(0 0 6px fade(#000,20%));
	position: relative;
	z-index: 101;
	.container {
		text-align: center;
	}
	.mod-title {
		.box-shadow(0 0 6px fade(#000,20%));
		.fh;
		display: inline-block;
		position: relative;
		top: -70px;
		font-size: 36px;
		line-height: 1.1;
		font-weight: 600;
		text-transform: uppercase;
		padding: 24px 45px;
		color: @c5;
		background: #fff;
		@media @xs {
			font-size: 28px;
			padding: 30px;
		}
		.homepage & {
			font-size: 51px;
			padding: 28px 58px;
			@media @sm {
				font-size: 36px;
			}
			@media @xs {
				font-size: 28px;
				padding: 30px;
			}
		}
		&:before, &:after {
			content: '';
			position: absolute;
			top: 70px;
			bottom: 0;
			left: 100%;
			width: 10px;
			background: #fff;
		}
		&:after{
			left: auto;
			right: 100%;
		}
	}
	.content {
		position: relative;
		overflow: hidden;
		background: #fff;
		text-align: center;
		padding: 35px 0 15px;
		margin: -70px 0 0;
		.homepage & {
			padding: 46px 0 0;
		}
		ul {
			.rul;
			margin: 0 -30px;
			@media @xs {
				margin: 0 -10px;
			}
			.homepage & {
				margin: 0 -10px;
			}
			li {
				.rli;
				display: inline-block;
				vertical-align: top;
				width: 12.5%;
				margin: 0 -2px 20px;
				padding: 0 10px;
				@media @md, @sm {
					width: 25%;
				}
				@media @xs  {
					width: 50%;
				}
				.homepage & {
					width: 25%;
					padding: 0 20px;
					margin: 0 -2px 63px;
					@media @xs {
						display: block;
						margin: 0 0 20px;
						width: auto;
					}
				}
				&.act {
					a {
						.icon {
							color: #fff;
							border-color: @c2;
							background: @c2;
							&:before{
								display: none;
							}
						}
						h2 {
							color: @c2;
							&:before{
								border-right-color: @c2;
							}
							&:after{
								display: none;
							}
						}
					}
				}
				a {
					display: block;
					position: relative;
					margin: auto;
					color: @c1;
					text-decoration: none;
					.homepage & {
						margin: auto 10%;
						@media @md {
							margin: auto 5%;
						}
						@media @sm, @xs {
							margin: auto;
						}
					}
					&:hover{
						.icon {
							color: #fff;
							border-color: @c2;
							background: @c2;
							&:before{
								display: none;
							}
						}
						h2 {
							color: @c2;
							&:before{
								border-right-color: @c2;
							}
							&:after{
								display: none;
							}
						}
					}
					&:before{
						content: '';
						position: absolute;
						top: 40px;
						height: 1px;
						width: 1000em;
						left: -500em;
						background: @c3;
						.homepage & {
							top: 69px;
						}
					}
					.icon {
						position: relative;
						z-index: 1;
						display: block;
						overflow: hidden;
						width: 84px;
						height: 84px;
						margin: 0 auto;
						color: @c2;
						border: 2px solid @c3;
						background: -moz-linear-gradient(left,  #ddf7f8 0%, #ffffff 100%);
						background: -webkit-linear-gradient(left,  #ddf7f8 0%,#ffffff 100%);
						background: linear-gradient(to right,  #ddf7f8 0%,#ffffff 100%);
						.homepage & {
							width: 140px;
							height: 140px;
						}
						&:before{
							content: '';
							position: absolute;
							left: 50%;
							top: 50%;
							margin: -100px 0 0 -100px;
							border-bottom: 200px solid transparent;
							border-right: 200px solid #fff;
						}
						[class^="icon-"] {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 140px;
							height: 140px;
							line-height: 140px;
							font-size: 36px;
							margin: -70px 0 0 -70px;
							.homepage & {
								font-size: 54px;
								margin: -75px 0 0 -70px;
								&:before{
									margin: 0;
								}
								&.icon-tennis {
									font-size: 84px;
								}
								&.icon-forklifts {
									font-size: 86px;
								}
								&.icon-fabrique {
									font-size: 64px;
								}
								&.icon-basket {
									font-size: 66px;
								}
								&.icon-spikelet {
									font-size: 86px;
								}
								&.icon-wrench {
									font-size: 64px;
								}
								&.icon-house {
									font-size: 74px;
								}
							}
						}
					}
					h2 {
						position: relative;
						z-index: 1;
						text-transform: uppercase;
						font-size: 13px;
						font-weight: normal;
						padding: 18px 0 0;
						.homepage & {
							font-size: 20px;
							padding: 31px 0 0;
						}
						&:before, &:after {
							content: '';
							position: absolute;
							top: -2px;
							left: 50%;
							margin: 0 0 0 -8px;
							border-right: 17px solid @c3;
							border-bottom: 17px solid transparent;
						}
						&:after{
							margin: 0 0 0 -6px;
							border-right: 13px solid #effbfc;
							border-bottom: 13px solid transparent;
						}
					}
				}
			}
		}
	}
}
.mod_custom-about {
	padding: 70px 0 23px;
	background: @c4;
	h2 {
		color: @c5;
		font-size: 56px;
		font-weight: 400;
		text-transform: uppercase;
		@media @xs {
			font-size: 42px;
		}
		strong {
			font-weight: 600;
		}
	}
	.content {
		float: left;
		width: 64.3%;
		margin: 45px 0 20px;
		color: #000;
		@media @sm, @xs {
			float: none;
			width: auto;
		}
		h3 {
			color: #fff;
			font-size: 32px;
			font-weight: bold;
		}
		h4 {
			.fp;
			color: #fff;
			font-size: 21px;
			line-height: 1.5;
			font-weight: bold;
		}
		ul {
			.rul;
			margin: 42px 0;
			li {
				.rli;
				font-size: 21px;
				line-height: 1.5;
				font-weight: normal;
				padding: 0 0 0 108px;
				margin: 0 0 30px;
				@media @xs {
					padding-left: 50px;
				}
				&:before{
					content: '\e80f';
					position: absolute;
					left: 43px;
					top: 5px;
					color: @c5;
					font-size: 44px;
					@media @xs {
						left: 0;
						font-size: 30px;
					}
				}
			}
		}
	}
	.mod-contact {
		float: right;
		width: 25.4%;
		margin: 45px 0 20px;
		color: #000;
		@media @sm {
			float: none;
			width: auto;
			margin: 30px 25%;
		}
		@media @xs {
			float: none;
			width: auto;
			margin: 0;
		}
		a {
			color: @c5;
		}
		.mod-title {
			.fh;
			text-transform: uppercase;
			font-size: 32px;
			line-height: 1.2;
			font-weight: bold;
			color: @c5;
			margin: 0 0 20px;
		}
		address {
			font-style: normal;
			margin: 0 0 13px;
		}
		.map {
			position: relative;
			padding: 0 0 0 42px;
			font-weight: 500;
			font-size: 21px;
			margin: 0 0 25px;
			a {
				&:before{
					.fi;
					content: '\e81b';
					position: absolute;
					left: 0;
					top: -3px;
					font-size: 36px;
					line-height: 1;
				}
			}
		}
		.contact {
			line-height: 1;
			margin: 0 0 30px;
			p {
				margin: 0 0 5px;
			}
			mark {
				.fh;
				color: @c5;
				white-space: nowrap;
				strong {
					font-weight: 400;
					font-size: 36px;
				}
			}
		}
		.list {
			margin: 0 0 20px;
			ul {
				.rul;
				li {
					.rli;
					&:first-child {
						a {
							&:before{
								display: none;
							}
						}
					}
					a {
						.fh;
						display: block;
						position: relative;
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
						font-weight: 500;
						font-size: 24px;
						line-height: 1.1;
						padding: 30px 0 23px 50px;
						&:hover{
							color: @c5;
						}
						&:before{
							.box-shadow(1px 1px 0 fade(#000,30%));
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							height: 2px;
							background: #fff;
						}
						[class^="icon-"] {
							position: absolute;
							left: 0;
							top: 25px;
							font-size: 34px;
							line-height: 1;
							&:before{
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
}
.mod_custom-customer {
	padding: 33px 0 35px;
	color: #fff;
	background: @c2;
	a {
		color: #fff;
	}
	.mod-title {
		.fh;
		float: left;
		width: 34.5%;
		padding: 0 20px 0 0;
		font-size: 32px;
		line-height: 1.2;
		font-weight: bold;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
			margin: 0 0 20px;
		}
	}
	ul {
		.rul;
		float: left;
		width: 65.5%;
		margin: 10px 0;
		li {
			.rli;
			.fh;
			display: inline-block;
			vertical-align: middle;
			padding: 0 0 0 36px;
			max-width: 33.3333%;
			margin: 0 -4px 0 0;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 24px;
			line-height: 1.3;
			@media @sm, @xs {
				margin: 0 0 30px;
				display: block;
				max-width: 999em;
			}
			&:before{
				text-shadow: 2px 1px 0 fade(#000,70%);
				content: '\e815';
				font-size: 66px;
				font-weight: normal;
				left: -26px;
				top: 50%;
				margin: -32px 0 0;
				@media @sm, @xs {
					font-size: 36px;
					left: -10px;
					margin: -18px 0 0;
				}
			}
			a {
				text-decoration: none;
				&:hover{
					color: @c5;
				}
			}
		}
	}
}
.mod_custom-gallery {
	position: relative;
	overflow: hidden;
	padding: 70px 0 0;
	background: url(../images/bg/01.jpg) top;
	.mod-title {
		.fh;
		text-align: center;
		font-size: 56px;
		line-height: 1.2;
		font-weight: normal;
		text-transform: uppercase;
		color: @c5;
		margin: 0 0 37px;
	}
	ul {
		.rul;
		position: relative;
		z-index: 1;
		text-align: center;
		margin: 0 -25px -95px;
		li {
			.rli;
			display: inline-block;
			margin: 0 -2px 10px;
			width: 33.3333%;
			padding: 0 25px 18px;
			background: url(../images/bg/03.png) no-repeat bottom;
			background-size: 90% 18px;
			@media @xs {
				width: 50%;
			}
			a {
				display: block;
				position: relative;
				text-decoration: none;
				&:hover{
					&:before{
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					&:after{
						font-size: 80px;
					}
				}
				&:before{
					.transition(0.5s);
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					right: 50%;
					bottom: 50%;
					background: fade(#000,30%);
				}
				&:after{
					.fi;
					.transition(0.3s);
					content: '\e809';
					position: absolute;
					z-index: 1;
					left: 50%;
					top: 50%;
					width: 100px;
					height: 100px;
					line-height: 100px;
					font-size: 0px;
					margin: -50px 0 0 -50px;
					color: #fff;
					text-align: center;
				}
				img {
					display: block;
				}
			}
		}
	}
	nav {
		position: relative;
		text-align: center;
		padding: 110px 0 55px;
		background: #edeceb;
		.container {
			text-align: center;
		}
		a {
			.fh;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 24px;
			line-height: 1.2;
			&:hover{
				color: @c5;
			}
			&:before{
				.fi;
				content: '\e81e';
				float: left;
				margin: -6px 15px;
				font-size: 34px;
				font-weight: normal;
			}
		}
	}
}
.mod_menu-bottom {
	position: relative;
	overflow: hidden;
	padding: 60px 0;
	ul {
		.rul;
		text-align: center;
		margin: 0 -25px 15px;
		li {
			.rli;
			display: inline-block;
			vertical-align: bottom;
			width: 33.3333%;
			padding: 0 25px;
			margin: 0 -2px;
			@media @sm, @xs {
				display: block;
				width: auto;
				margin: 0 0 30px;
				text-align: left;
			}
			a {
				.fh;
				position: relative;
				display: block;
				border: 2px solid @c2;
				text-transform: uppercase;
				font-size: 36px;
				line-height: 1.1;
				font-weight: 600;
				padding: 30px 10px 31px 85px;
				text-decoration: none;
				background: #fff;
				@media @sm, @xs {
					padding-left: 100px;
				}
				@media @md {
					font-size: 26px;
				}
				&:hover{
					color: #fff;
					background: @c2;
					&:after{
						display: none;
					}
				}
				&:before, &:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					margin: 0 0 -17px -7px;
					border-left: 17px solid transparent;
					border-top: 17px solid @c2;
				}
				&:after{
					margin: 0 0 -13px -9px;
					border-top-color: #fff;
				}
				[class^="icon-"] {
					position: absolute;
					top: 50%;
					left: 10px;
					width: 100px;
					height: 100px;
					line-height: 100px;
					text-align: center;
					font-size: 50px;
					margin: -50px 0 0;
					&:before{
						margin: 0;
					}
					&.icon-calc {
						font-size: 62px;
					}
					&.icon-mobile {
						font-size: 62px;
					}
				}
			}
		}
	}
}
.mod_menu-footer {
	ul {
		.rul;
		border-top: 2px solid fade(@c2,20%);
		border-bottom: 2px solid fade(@c2,20%);
		padding: 50px 0 35px;
		text-align: center;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: normal;
			margin: 0 0 15px;
			padding: 0 28px;
			letter-spacing: 0.1em;
			&:last-child {
				&:before{
					display: none;
				}
			}
			&:before{
				height: 18px;
				width: 1px;
				top: 4px;
				left: auto;
				right: 0;
				background: @c1;
			}
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 0 0 30px;
	ul {
		.rul;
		li {
			display: inline-block;
			margin: 0 10px 0 0;
			padding: 0 0 0 12px;
			font-size: 18px;
			font-weight: 600;
			color: @c2;
			&:before{
				top: 6px;
				color: @c1;
			}
			&.home {
				padding: 0 0 0 40px;
				&:before{
					content: '\e80e';
					font-size: 28px;
					left: -2px;
					top: -2px;
					color: @c2;
				}
			}
			a {
				color: @c1;
				font-weight: normal;
			}
		}
	}
}
.menu_inline {
	ul {
		.rul;
		margin: 0 0 0 -30px;
		li {
			.rli;
			display: inline-block;
			font-size: 24px;
			margin: 0 0 0 30px;
			[class^="icon-"] {
				font-size: 34px;
				&:before{
					margin: 0;
				}
			}
		}
	}
}
#page-footer {
	position: relative;
	padding: 43px 0 100px;
	.container {
		text-align: center;
	}
	.copy {
		display: inline-block;
		font-size: 15px;
	}
	.xart {
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 0 0 15px;
		padding: 0 0 0 15px;
		border-left: 1px solid @c1;
		img {
			float: left;
			width: 14px!important;
			margin: 2px 12px 0 0;
		}
		a {
			color: #999;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 15px;
	font-weight: normal;
	background: fade(@c4,80%);
	a {
		color: @c5;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			color: @c5;
			border-color: transparent;
			background: fade(@c4,80%);
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e810';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}