nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		line-height: (@input-height)-4;
		&:after{
			.fi;
			position: relative;
			content: '\e809';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	font-size: 18px;
	background: lighten(@c2,56%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@c2,59%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@cl,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@c2,50%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display: block;
		margin: 0 0 10px 0;
		font-weight: bold;
	}
	.optgroup label{
		display: inline-block;
		font-weight: normal;
	}
	.fileinputs{
		position: relative;
		display: block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 999em;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: block;
			input[type="button"] {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @c4;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.btn;
		vertical-align: middle;
		padding: 0;
		width: 50px;
		height: 50px;
		margin: 0 0 10px;
		line-height: 46px;
		&.first,&.prev,&.next,&.last {
			border-color: transparent;
			color: #fff;
			font-size: 38px;
			line-height: 42px;
			background: @c3;
			&:hover{
				background: @c2;
			}
		}
		&.prev {
			margin-right: 10px;
		}
		&.next {
			margin-left: 10px;
		}
	}
	span.pagenav{
		color: #fff;
		font-weight: 900;
		border-color: transparent;
		background: @c4;
	}
	span.pagenav-ico{
		cursor: default;
		background: lighten(@cp,60%);
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 50px 0;
	height: 14px;
	background: url(../images/bg/03.png) no-repeat top;
	background-size: 100% 100%;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter:alpha(opacity=50);
}
img.img-left,img[align=left]{
	float: left;
	margin: 10px 40px 10px 0;
	@media @xs  {
		float: none;
		margin: 20px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
img.img-right,img[align=right]{
	float: right;
	margin: 10px 0 10px 40px;
	@media @xs  {
		float: none;
		margin: 20px 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
a.xeditorpopup img{
	.transition(0.2s);
	border: 14px solid lighten(@c2,60%);
}
a.xeditorpopup:hover img{
	border-color: @c2;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		position: relative;
		padding: 10px 15px 10px 50px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @c3;
		&:before{
			.fi;
			content: '\e804';
			position: absolute;
			top: 10px;
			left: 0;
			width: 50px;
			text-align: center;
			font-weight: normal;
		}
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c2;
		&:before{
			content: '\e805';
		}
	}
	.warning,.error{
		background: darken(red,15%);
		&:before{
			content: '\e806';
		}
	}
	.error{
		&:before{
			content: '\e807';
		}
	}
}
