
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-right:before { content: '\e809'; } /* '' */
.icon-calc:before { content: '\e80a'; } /* '' */
.icon-fabrique:before { content: '\e80b'; } /* '' */
.icon-forklifts:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-house:before { content: '\e80e'; } /* '' */
.icon-logo:before { content: '\e80f'; } /* '' */
.icon-angle-up:before { content: '\e810'; } /* '' */
.icon-angle-down:before { content: '\e811'; } /* '' */
.icon-arr-left:before { content: '\e812'; } /* '' */
.icon-arr-right:before { content: '\e813'; } /* '' */
.icon-arr-thin-l:before { content: '\e814'; } /* '' */
.icon-arr-thin-r:before { content: '\e815'; } /* '' */
.icon-tennis:before { content: '\e816'; } /* '' */
.icon-basket:before { content: '\e817'; } /* '' */
.icon-mobile:before { content: '\e818'; } /* '' */
.icon-spikelet:before { content: '\e819'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-book:before { content: '\e81c'; } /* '' */
.icon-zoom-in:before { content: '\e81d'; } /* '' */
.icon-th-large:before { content: '\e81e'; } /* '' */
.icon-fire:before { content: '\e81f'; } /* '' */
.icon-block:before { content: '\e820'; } /* '' */
.icon-clock:before { content: '\e821'; } /* '' */
.icon-paste:before { content: '\e822'; } /* '' */