@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?87877024');
  src: url('../font/icons.eot?87877024#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?87877024') format('woff2'),
       url('../font/icons.woff?87877024') format('woff'),
       url('../font/icons.ttf?87877024') format('truetype'),
       url('../font/icons.svg?87877024#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?87877024#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-angle-left:before { content: '\e808'; } /* '' */
.icon-angle-right:before { content: '\e809'; } /* '' */
.icon-calc:before { content: '\e80a'; } /* '' */
.icon-fabrique:before { content: '\e80b'; } /* '' */
.icon-forklifts:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-house:before { content: '\e80e'; } /* '' */
.icon-logo:before { content: '\e80f'; } /* '' */
.icon-angle-up:before { content: '\e810'; } /* '' */
.icon-angle-down:before { content: '\e811'; } /* '' */
.icon-arr-left:before { content: '\e812'; } /* '' */
.icon-arr-right:before { content: '\e813'; } /* '' */
.icon-arr-thin-l:before { content: '\e814'; } /* '' */
.icon-arr-thin-r:before { content: '\e815'; } /* '' */
.icon-tennis:before { content: '\e816'; } /* '' */
.icon-basket:before { content: '\e817'; } /* '' */
.icon-mobile:before { content: '\e818'; } /* '' */
.icon-spikelet:before { content: '\e819'; } /* '' */
.icon-wrench:before { content: '\e81a'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-book:before { content: '\e81c'; } /* '' */
.icon-zoom-in:before { content: '\e81d'; } /* '' */
.icon-th-large:before { content: '\e81e'; } /* '' */
.icon-fire:before { content: '\e81f'; } /* '' */
.icon-block:before { content: '\e820'; } /* '' */
.icon-clock:before { content: '\e821'; } /* '' */
.icon-paste:before { content: '\e822'; } /* '' */